<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
  </head>
  <body>
    Opps, by server
    <button onClick="window.location.href='/sys/'">返回</button>
  </body>
</html>