<header>
  <div class="head"><img src="/images/logo.png" alt="charles moone"></div>
  <p class="name">CharlesMoone</p>
  <p class="desc">Huge Web Developer</p>
  <div class="document">
    <div class="documentItem active">Lastest</div>
  </div>
  <div class="contact">
    <div class="contactItem">QQ: 2212133293</div>
    <div class="contactItem">weibo: <a target="_blank" href="https://weibo.com/2942913875/profile?topnav=1&wvr=6">@水墨清冷</a></div>
    <div class="contactItem">meng5994197@gmail.com</div>
  </div>
</header>